html *{
    font-family: 'Merriweather', serif;
}

/* General
==================================*/
h1 {
    color: #fff;
    text-shadow: 0 1px 0px #000;
    font-size: 38px;
}


/* Utilities
==================================*/
.title-bordered {
    border-top: solid 2px #bbb;
    padding-top: 30px;
}

p {
    color: #555;
    margin: 0 0 25px;
}

.scroll {
    height: 100%;
}


/* Menu
==================================*/
.menu .bar.bar-header.expanded {
    transition: all .5s ease-in-out;
}

.menu-open .bar.bar-header.expanded {
    background-color: #222;
}

.menu h2 {
    bottom: 0;
    font-size: 18px;
    left: 16px;
    position: absolute;
}

.menu .avatar {
    height: 88px;
    width: 88px;
}

.menu.menu-left * {
    font-weight: bold;
}

.menu-open .ion-navicon {
    transform: rotate(-360deg);
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.menu-open .ion-navicon:before {
    content: "\f2ca";
}


/* Login
==================================*/
.xp_icon{

}
.app-icon {
    background: url('../img/slogan.png') center;
}

.app-icon2 {
    background-color: #fff;
    background: url('../img/xp_icon.jpg') center;
    background-size: cover;
    border-radius: 50%;
    height: 125px;
    margin: 0 auto;
    width: 125px;
}

.social-login {
    position: fixed;
    bottom: 0;
}

.setup-sidebar{
    float: left;
    /*background-color: green;*/
    height: 100%;
    width: 250px;
}

.setup-retailers{
    /*background-color: #2E8B57;*/
    float: left;
    position: fixed;
    bottom:20%;
    margin-left: 250px;
    width: 100%;
    height: 200px;
    background-color: white;
    padding: 40px;
    -moz-border-radius-topleft: 10px;
    -moz-border-radius-bottomleft: 10px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.question{
    position: absolute;
    top: 25px;
    text-align: center;
    padding: 20px 20px 20px 300px;
    /*background: rgba(54, 25, 25, .5);*/
}

.question h1{
    color: #0a0b0c;
}

.question img, .selectedCountry img{
    width: 128px;
}

.question label{
    width: 100%;
    text-align: center;
}

.selection-list{
    float: left;
    width: 200px;
}

.category-list{
    margin: 0 auto;
     width: 200px;
    padding-left: 10px;
 }

.category-list img{
    float: left;
    padding-right: 10px;
    padding-bottom: 10px;
      width: 60px;
  }

.retailer-list{
    float: left;
    padding-right: 10px;
    padding-bottom: 10px;
}

.hero{
    height:400px;
}

#designer-home {
    background-color: #DDDEDE;
}

.button.button-balanced {
    background-color: #A5C05B;
}

.brand .row{
    padding: 0 !important;
    /*border: 1px solid rgba(231, 231, 231, 0.14);*/
}

.brand .col{
    height: 400px;
    padding: 0px !important;
    /*border: 1px solid rgba(231, 231, 231, 0.14);*/
}

.jh3{
    font-family: 'Josefin Sans', sans-serif;
}

.about-me{
    padding: 10px !important;
}

.key-info{
    padding-top: 10px;
    position: absolute;
    right: 20px;
    top: 20%;
    border: 1px solid #c0c0c0;
    width: 500px;
    height: 300px;
    background-color: rgba(190, 190, 190, 0.36);
}

#map {
    width: 100%;
    height: 100%;
}

#map-panorama {
    width: 100%;
    height:400px;
}

.scroll {
    height: 100%;
}

#retailers{
    z-index: 99999;
    position: absolute;
    top: 20%;
    right: 20px;
    width: 400px;
    height: 600px;
    border: 1px solid #c0c0c0;
    background-color: #ffffff;
    border-radius: 10px;
}

.retailer-gallery{

}

.retailer-gallery{

}

.retailer-gallery-item{

}

.retailer-gallery-item img{
    width: 100%;
    height:400px;
    overflow:hidden;
}

.retailer-gallery .row{
    padding: 0 !important;
    /*border: 1px solid rgba(231, 231, 231, 0.14);*/
}

.retailer-gallery .col{
    height: 400px;
    padding: 0px !important;
    /*border: 1px solid rgba(231, 231, 231, 0.14);*/
}