<ion-view view-title="XPose : Home" align-title="left">
    <ion-content id="designer-home">
        <div class="hero slide-up" style="background-image: url('../img/yousef.jpg'); ">
            <img src="../img/yousef_signature.png" style="position: absolute; left: 0; bottom: 0; padding-left: 20px; padding-bottom: 10px;">
            <button class="button pull-right button-raised button-balanced" style="position: absolute; top: 20px; left: 20px;" ui-sref="app.retailer-find">
                Connect to Retailers</button>

            <div class="key-info">
                <h3 class="jh3">Key Info</h3>
                <div class="list list-inset">

                    <div class="item">
                        Location: Sydney, Australia
                    </div>
                    <div class="item">
                        Category: Luxury
                    </div>
                    <div class="item">
                        Product: Women's Apparel
                    </div>
                    <div class="item">
                        Capacity: 10
                    </div>

                </div>
            </div>
        </div>
        <div class="tabs tabs-background-energized tabs-icon-top static">
            <h2 style="padding-top: 5px;" class="jh3">Yousef Akbar</h2>
        </div>

        <div class="brand">
            <div class="row">
            <div class="col-20 col">
                <ion-slide-box show-pager="true" does-continue="true" auto-play="true">
                    <ion-slide>
                        <img src="../img/yousef-1.png"/>
                    </ion-slide>
                    <ion-slide>
                        <img src="../img/yousef-2.png"/>
                    </ion-slide>
                    <ion-slide>
                        <img src="../img/yousef-3.png"/>
                    </ion-slide>
                </ion-slide-box>
            </div>
            <div class="col-60 col" style="padding: 10px !important;">
                <h2  class="jh3">My Story</h2>
                <p>
                    Born in Saudi Arabia, Yousef Akbar came to Australia to study Logistics at the University of South Australia. But fashion was his calling and it was while completing his Master's at Sydney University that Yousef discovered one could study, and train for, a career in fashion. Thus, he embarked on a Bachelor of Fashion at The Fashion Design Studio Sydney TAFE which he completed in 2016.
                </p>
                <p>
                    He is fascinated by the interaction of the cloth and body. it is always about challenging convention in cutting and constructing of his garments while maintaining elegance and femininity. It is the voice he uses to deliver his message to the world, in the form of fabric worn on the body.
                </p>
                <p>
                    For Yousef, it is not just about creating clothes, but also creating a narrative and a fantasy that evokes emotions of the wearer. When you wear one of his garments, you not only will be living his story, but you will be experiencing he’s personal research and quest for inspiration.

                    The decision to abandon Logistics for Fashion has certainly paid off with Yousef already winning a string of industry awards such as  FLAIR Best tailoring and Designer of the Year 2013,TAFE Eveningwear Award 2013, Powerhouse Museum Fashion Exhibition display 2014, Invited to Debut his first collection at Mercedes Benz Fashion Week Australia 2014, Winning The Design Institute of Australia fashion graduate of the year, and over all graduate of the year.

                    Yousef Akbar has a number of celebrity clients such as Kimbra, Jessica Mauboy, Kelly Osbourne and others.
                </p>
                <p>
                    The decision to abandon Logistics for Fashion has certainly paid off with Yousef already winning a string of industry awards such as  FLAIR Best tailoring and Designer of the Year 2013,TAFE Eveningwear Award 2013, Powerhouse Museum Fashion Exhibition display 2014, Invited to Debut his first collection at Mercedes Benz Fashion Week Australia 2014, Winning The Design Institute of Australia fashion graduate of the year, and over all graduate of the year.

                </p>
                <p>
                    Yousef Akbar has a number of celebrity clients such as Kimbra, Jessica Mauboy, Kelly Osbourne and others.
                </p>

                <!--<div class="videos text-center">-->
                    <!--&lt;!&ndash; Use 'youtube-video' as an element or attribute. &ndash;&gt;-->
                    <!--<youtube-video video-id="theBestVideo"></youtube-video>-->
                <!--</div>-->
            </div>
            <div class="col-20 col">
                <ion-slide-box show-pager="true" does-continue="true" auto-play="true">
                    <ion-slide>
                        <img src="../img/yousef-4.png"/>
                    </ion-slide>
                    <ion-slide>
                        <img src="../img/yousef-5.png"/>
                    </ion-slide>
                    <ion-slide>
                        <img src="../img/yousef-6.png"/>
                    </ion-slide>
                </ion-slide-box>
            </div>
        </div>
        </div>
    </ion-content>
</ion-view>
