<ion-view view-title="XPose : Designer Setup" align-title="left">
    <ion-content style="background: url(../img/login.jpg) center; background-size: cover;">
        <ion-content class="animate animate-fade-in" style="width:60%">
            <div class="list card-item">&nbsp;</div>

            <div class="list card-item">
                <div class="pull-right">
                    <h1>I'm your Sales Agent</h1>
                </div>
            </div>

            <div class="list card-item">&nbsp;</div>
            <div class="list card-item">&nbsp;</div>

            <div class="list card-item">
                <div class="pull-right">
                    <h1>Who would like to know more about You and your Brand</h1>
                </div>
            </div>

            <div class="list card-item">&nbsp;</div>
            <div class="list card-item">&nbsp;</div>

            <div class="list card-item">
                <div class="pull-right">
                    <h1>I will match You with Retailers who are looking for You</h1>
                </div>
            </div>

            <div class="list card-item">&nbsp;</div>


            <div class="list card-item">
                <button class="button button-energized button-large pull-right" ui-sref="app.designer-setup-profile">
                    Let's Get Started >>
                </button>
            </div>


        </ion-content>
    </ion-content>
</ion-view>