<ion-view view-title="XPose : Designer Setup" align-title="left">
    <ion-content style="background: url(../img/profile-setup-bg.jpg) center; background-size: cover;">
        <ion-content class="animate animate-fade-in">
            <div class="setup-sidebar">
                <!--<img src="../img/logo_green.png" style="position: absolute; margin-left: 20px; top: 10px; width: 200px">-->
                <!--<br/>-->
                <!--<br/>-->
                <!--<br/>-->
                <!--<br/>-->
                <!--<br/>-->
                <!--<br/>-->
                <br/>
                <div class="list card-item">
                    <div class="text-center">
                        <h1 class="jh3">Profile</h1>
                    </div>
                </div>

                <br/>
                <div class="list card-item selectedCountry" ng-show="selectedCountry.name" ng-click="gotoQuestion(0)">
                    <div class="text-center">
                        <h2 class="jh3">Location</h2>
                    </div>
                    <div class="text-center">
                        <div><img src="{{selectedCountry.image}}"/></div>
                        <label class="text-center">{{selectedCountry.name}}</label>
                    </div>
                </div>

                <br/>
                <div class="list card-item" ng-show="selectedCategory.length > 0" ng-click="gotoQuestion(1)">
                    <div class="text-center">
                        <h2 class="jh3">Category</h2>
                    </div>
                    <div class="category-list text-center" ng-repeat="c in selectedCategory">
                        <div><img src="{{c.image}}"/></div>
                    </div>
                </div>

                <br/>
                <br/>
                <div class="list card-item selectedCountry" ng-show="selectedPricePoint.name" ng-click="gotoQuestion(2)">
                    <div class="text-center">
                        <h2 class="jh3">Price Point</h2>
                    </div>
                    <div class="text-center">
                        <div><img src="{{selectedPricePoint.image}}"/></div>
                        <label class="text-center">{{selectedPricePoint.name}}</label>
                    </div>
                </div>

                <br/>
                <br/>
                <div class="list card-item" ng-show="selectedLook.length > 0" ng-click="gotoQuestion(3)">
                    <div class="text-center">
                        <h2 class="jh3">Your Look</h2>
                    </div>
                    <div class="category-list text-center" ng-repeat="c in selectedLook">
                        <div><img src="{{c.image}}"/></div>
                    </div>
                </div>
            </div>

            <div class="question" ng-show="currentQuestion == 0" style="width: 100%">
                <h1>Where do you want your Retailers to be?</h1>
                <br/>
                <div class="selection-list" ng-repeat="c in countries" ng-click="answerQ1(c)">
                    <div><img src="{{c.image}}"/></div>
                    <label class="text-center">{{c.name}}</label>
                </div>
            </div>

            <div class="question" ng-show="currentQuestion == 1">
                <h1>We'd love to get to know your Brand.</h1>
                <h1>Which of these apply to you?</h1>
                <br/>
                <div class="selection-list" ng-repeat="c in categories" ng-click="answerQ2(c)">
                    <div><img src="{{c.image}}"/></div>
                </div>

                <div>&nbsp;</div>
                <div>&nbsp;</div>
                <div>&nbsp;</div>
                <button class="button button-balanced button-large pull-right" ng-click= "gotoQuestion(2)">
                    Next >>
                </button>
            </div>

            <div class="question" ng-show="currentQuestion == 2" style="width: 100%">
                <h1>What's your price point?</h1>
                <br/>
                <div class="selection-list" ng-repeat="c in pricepoints" ng-click="answerQ3(c)">
                    <div><img src="{{c.image}}"/></div>
                    <label class="text-center">{{c.name}}</label>
                </div>
            </div>

            <div class="question" ng-show="currentQuestion == 3">
                <h1>Tell us about your style?</h1>
                <br/>
                <div class="selection-list" ng-repeat="c in styles" ng-click="answerQ4(c)">
                    <div><img src="{{c.image}}"/></div>
                </div>

                <div>&nbsp;</div>
                <div>&nbsp;</div>
                <div>&nbsp;</div>
                <button class="button button-balanced button-large pull-right" ng-click="openModal()">
                    Complete XPosè Profile >>
                </button>
            </div>


            <div class="setup-retailers" ng-show="retailersList.length > 0" style="width: 100000px">
                <h3 class="jh3">Possible Retailers</h3>

                <ion-scroll direction="x">
                    <div>
                        <div class="retailer-list" ng-repeat="c in retailersList">
                            <div><img src="{{c.image}}" style="height: 60px; display: block; padding-right: 20px;"/></div>
                        </div>
                    </div>
                </ion-scroll>

            </div>
        </ion-content>
    </ion-content>
</ion-view>

<script id="my-modal.html" type="text/ng-template">
    <ion-modal-view>
        <ion-header-bar>
            <h2 class="jh3 text-center" style="padding-top: 5px">User Details</h2>
        </ion-header-bar>
        <ion-content>
            <div class="list">
                <label class="item item-input item-stacked-label">
                    <span class="input-label">First Name</span>
                    <input type="text" placeholder="Yousef">
                </label>
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Last Name</span>
                    <input type="text" placeholder="Akbar">
                </label>
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Email</span>
                    <input type="text" placeholder="yousef@akbar.com">
                </label>
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Instagram User</span>
                    <input type="text" placeholder="yousef__akbar">
                </label>
                <label class="item item-input item-stacked-label">
                    <span class="input-label">My Story</span>
                    <textarea type="text" placeholder="Tell us about your story" rows="8"/>
                </label>
                <div class="text-center" style="position: relative; bottom: 0">
                    <button class="button button-balanced button-large" ui-srefs="app.designer-home" ng-click="completeRegistration()">
                        Complete Registration
                    </button>
                </div>
            </div>
        </ion-content>
    </ion-modal-view>
</script>