<ion-view view-title="XPose : Your Virtual Sales Agent" align-title="left">
    <ion-content style="background: url(img/login.jpg) center; background-size: cover; ">
        <img src="../img/xp_icon.png" style="position: absolute; margin-left: 40px; top: 80px;">
        <img src="../img/slogan.png" style="position: absolute; margin-left: 40px; bottom: 63%; height: auto; width: 30%">
        <img src="../img/question.png" style="position: absolute; left:42%; top: 8%; height: auto; width: 120px;">
        <hr style="top: 20px; width: 60%;position: absolute; margin-left: 20px; height: 5px; background-color: white" class="pull-left">
        <hr style="top: 250px; width: 60%;position: absolute; margin-left: 20px; height: 5px; background-color: white" class="pull-left">
        <div class="hero no-header flat">
            <div class="content">
            </div>
        </div>

        <div style="position: absolute; top: 15%; left: 38%" class=" animated bounceInRight">
            <button class="button button-balanced button-large " ui-sref="app.designer-setup">
                DESIGNER
            </button>
            <button class="button button-energized button-large ">
                RETAILER
            </button>
        </div>

        <div class="button-bar social-login">
            <button class="button button-small button-border icon-left ion-social-google button-assertive-900">Google+</button>
            <button class="button button-small button-border icon-left ion-social-twitter button-calm-900">Twitter</button>
            <button class="button button-small button-border icon-left ion-social-facebook button-positive-900">Facebook</button>
        </div>
    </ion-content>
</ion-view>
