<ion-side-menus enable-menu-with-back-views="true">
    <ion-side-menu-content>
        <ion-nav-bar class="bar-assertive-900" ng-class="{expanded: isExpanded, 'has-header-fab-left': hasHeaderFabLeft, 'has-header-fab-right': hasHeaderFabRight}" align-title="left">
            <ion-nav-back-button class="no-text">
            </ion-nav-back-button>
            <ion-nav-buttons side="right">
                <button class="button button-icon button-clear ion-android-more-vertical" menu-toggle="right">
                </button>
            </ion-nav-buttons>
        </ion-nav-bar>
        <ion-nav-view name="fabContent"></ion-nav-view>
        <ion-nav-view name="menuContent" ng-class="{expanded: isExpanded}" ></ion-nav-view>
    </ion-side-menu-content>
    <ion-side-menu side="right">
        <ion-header-bar class="dark-bg expanded text-center">
            <!--<img src="../img/logo_green.png" style="margin: 0 auto; width: 150px;">-->
            <h1 class="jh3" style="font-size: 60px; margin: 0 auto; padding-top: 40px">XPosè</h1>
        </ion-header-bar>
        <ion-content class="stable-bg has-expanded-header">
            <ion-list>
                <ion-item nav-clear menu-close>
                    <img src="../img/Orders.png" width="30" /><span style="position: absolute; top: 20px; font-size: 20px; padding-left: 20px;" class="jh3">Orders</span>
                </ion-item>
                <ion-item nav-clear menu-close ui-sref="app.designer-home">
                    <img src="../img/profile.png" width="30" /><span style="position: absolute; top: 20px; font-size: 20px; padding-left: 20px;" class="jh3">Profile</span>
                </ion-item>
                <ion-item nav-clear menu-close>
                    <img src="../img/Virtual.png" width="30" /><span style="position: absolute; top: 20px; font-size: 20px; padding-left: 20px;" class="jh3">Virtual Sales Agent</span>
                </ion-item>
                <ion-item nav-clear menu-close>
                    <img src="../img/academy.png" width="30" /><span style="position: absolute; top: 20px; font-size: 20px; padding-left: 20px;" class="jh3">XPosè Academy</span>
                </ion-item>
                <ion-item nav-clear menu-close>
                    <img src="../img/blackbook.png" width="30" /><span style="position: absolute; top: 20px; font-size: 20px; padding-left: 20px;" class="jh3">Blackbook</span>
                </ion-item>
            </ion-list>
        </ion-content>
    </ion-side-menu>
</ion-side-menus>
