<ion-view view-title="XPose : Home" align-title="left">
    <ion-content id="designer-home">
        <div class="hero slide-up" style="background: url('../img/desordre_bg.jpg') no-repeat; ">
            <button class="button pull-right button-raised button-balanced" style="position: absolute; top: 20px; left: 20px;" ui-sref="app.retailer-find">
                Connect Now</button>

            <div class="key-info">
                <h3 class="jh3">Key Info</h3>
                <div class="list list-inset">

                    <div class="item">
                        Location: Sydney, Australia
                    </div>
                    <div class="item">
                        Category: Luxury, Better
                    </div>
                    <div class="item">
                        Product: Apparel, Accessories, Footwear, Jewellery
                    </div>
                    <div class="item">
                        Capacity: 50
                    </div>

                </div>
            </div>
        </div>
        <div class="tabs tabs-background-energized tabs-icon-top static">
            <h2 style="padding-top: 5px;" class="jh3">Desordrè</h2>
        </div>

        <div class="retailer-gallery">
            <div class="row">
                <div class="col col-33 retailer-gallery-item">
                    <img src="../img/desordre_shop_1.jpg"/>
                </div>
                <div class="col col-33 retailer-gallery-item">
                    <!--<img src="../img/desordre_shop_2.jpg"/>-->
                    <div id="map-panorama" data-tap-disabled="true"></div>
                </div>
                <div class="col col-33 retailer-gallery-item">
                    <img src="../img/desordre_shop_3.jpg"/>
                </div>
            </div>

            <div class="row">
                <div class="col col-33 retailer-gallery-item">
                    <img src="../img/desordre_shop_4.jpg"/>
                </div>
                <div class="col col-33 retailer-gallery-item">
                    <img src="../img/desordre_shop_5.jpg"/>
                </div>
                <div class="col col-33 retailer-gallery-item">
                    <img src="../img/desordre_shop_6.png"/>
                </div>
            </div>

            <div class="row">
                <div class="col col-33 retailer-gallery-item">
                    <img src="../img/desordre_shop_7.png"/>
                </div>
                <div class="col col-33 retailer-gallery-item">
                    <img src="../img/desordre_shop_8.png"/>
                </div>
                <div class="col col-33 retailer-gallery-item">
                    <img src="../img/desordre_shop_9.png"/>
                </div>
            </div>

        </div>
    </ion-content>
</ion-view>
