<ion-view view-title="XPose : Home" align-title="left">
    <ion-content>
        <div id="retailers">
            <h3 class="jh3 text-center" style="padding-top: 5px; padding-bottom: 40px">Possible Retailers</h3>

            <ion-scroll>
                <div >
                    <div ng-repeat="r in retailersList" ng-click="scrollMap(r)">
                        <div ><img src="{{r.image}}" style="height: 80px; display: block;padding-bottom: 30px; margin: 0 auto;"/></div>
                    </div>
                </div>
            </ion-scroll>
        </div>

        <div id="map" data-tap-disabled="true"></div>

    </ion-content>
</ion-view>